body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    z-index: 100;
    background-color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    height: 32px;
    padding-left: 24px;
}

.logo_colmar, .logo_academy {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo_colmar {
    color: gray;
}

.logo_academy {
    color: lightgray;
}

.menu {
    padding-right: 24px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    align-items: right;
    list-style: none;
    float:right;
    text-align:right;
}

.nav li {
    padding-left: 16px;
}

main {
    padding-top: 64px;
    width: 100%;
}

.start {
    background-color: lightgrey;
    color: rgb(70, 68, 68);
    font-family:  Arial, Helvetica, sans-serif;
    display: flex;
}

.start img {
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.start_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.start_text button {
    background-color: rgb(70, 68, 68);
    color: white;
    box-sizing: content-box;
    width: 90%;
    height: 10%;
    top: 8px;
    bottom: 8px;
}

.practicing {
    display: flex;
    width: 100%;
    padding-bottom: 32px;
    color:rgb(70, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
}

.p_left {
    width: 60%;
}

.p_left img {
    width: 100%;
}

.p_left h1, .p_left p {
    padding-left: 16px;
}

.p_right {
    width: 40%;
}

.orientation, .campus, .guest {
    display: flex;
}

.guest {
    background-color: lightgray;
}

.orientation img, .campus img, .guest img {
    width: 35%;
    height: auto;
    padding: 16px;
}

.orientation_date, .our_campus, .guest_lecture {
    width: 65%;
    padding: 8px;
}

.read_more {
    color: rgb(0, 132, 255);
}
